.RRT__panel {
    padding: 1em 0 0 0;
    border: 0;
}

.RRT__tab {
    border: 0;
}

.RRT__tab--selected {
    background: transparent !important;
}

.RRT__tab {
    background: transparent !important;
}

.table-striped-rows tr:nth-child(2n-1) td {
    background-color: #f2f2f2 !important;
}
.table-striped-rows thead {
    background-color: #f2f2f2 !important;
}

.search-input-box {
    width: 10% !important;
    margin-bottom: 20px !important;
}

.para-sentence-table-card {
    position: relative;
}

.card-body-padding-0 {
    .ant-card-body {
        padding: 0
    }

    .ant-table-pagination.ant-pagination {
        margin: 20px;
    }
}
